<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.TestLoggerListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="ApiAutomationTesting">
        <classes>
            <class name="tests.weatherapi.WeatherApiTests"/>
            <class name="tests.reqres.ReqResApiTests"/>
        </classes>
    </test>
</suite>