<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.TestLoggerListener"/>
    </listeners>
    <test name="Weather API Testing">
        <classes>
            <class name="tests.weatherapi.WeatherApiTests"/>
        </classes>
    </test>
    <test name="ReqRes Testing">
        <classes>
            <class name="tests.reqres.ResourceTests"/>
            <class name="tests.reqres.UserTests"/>
            <class name="tests.reqres.AuthTests"/>
        </classes>
    </test>
</suite>