name: Running API Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # Checkout current repo
      - uses: actions/checkout@v4

      # Set up JDK
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      # Run maven tests
      - name: Build with Maven
        run: mvn clean test -DWEATHER_API_KEY=${{ secrets.WEATHER_API_KEY }}

      # Upload test report
      - name: Upload Test Evidence
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-evidence
          path: ./Reports/
